{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug"
    },
    "RollingFile": {
      "LogLevel": {
        "Default": "Information"
      },
      "Path": "logs/{Date}/PackTool.log",
      "MaxFileSize": "2MB"
    }
  }
}
